* {
margin: 0;
padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  background: white;
  font-family: 'Inconsolata', monospace;
}

h1{
  margin: 4%;
}

ul{
  display: flex;
  list-style: none;
  flex-direction: column;
}

li{
  display: flex;
  flex-direction: row;
}

button{
  background-color: inherit;
  border: solid;
  margin-top: 40%;
  border-radius: 10px;
  padding: 5px 8px;
}

button:hover{
  background-color: black;
  color: white;
  border: solid;
  cursor: pointer;
}

.controlTab {
 /* display: flex;
 margin: 50%;
 float: left; */
}

.square{
  color: white;
  margin: 1%;
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  cursor: pointer;
}
/* .square:hover {
  box-shadow: inset -1px -1px 1px 0 rgba(255, 255, 255, 0.842), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.842)
} */

.game{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player{
  padding: 4%;
  background-color: rgba(51, 50, 52, 0.21);
}

.player_information{
  margin: 10% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
